# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data and local state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
